<main>
    <section class="s1">
        <input type="Add New" id="addNewInput" placeholder="Add New Task">
        <br class="lineBreak">
        <br class="lineBreak">
        <button id="addNewBtn">+</button>
        <button id="discardBtn">Discard</button>

    </section>
    <section class="s2">
        <h4>OnGoing</h4>
        <div id="ongoingTasks"></div>
    </section>
    <section class="s3">
        <h4>Completed</h4>
        <div id="completedTasks"></div>
    </section>
</main>